CL-BSCSD-21-13/JK-web-client/src/wsdl/localhost_8080/JK-web-service/JKWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.JK/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.JK/" name="JKWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.JK/" schemaLocation="http://localhost:8080/JK-web-service/JKWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="JKWebService">
<operation name="getUsers">
<input wsam:Action="http://service.JK/JKWebService/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://service.JK/JKWebService/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://service.JK/JKWebService/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://service.JK/JKWebService/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://service.JK/JKWebService/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://service.JK/JKWebService/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://service.JK/JKWebService/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://service.JK/JKWebService/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://service.JK/JKWebService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://service.JK/JKWebService/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://service.JK/JKWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.JK/JKWebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="JKWebServicePortBinding" type="tns:JKWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="JKWebService">
<port name="JKWebServicePort" binding="tns:JKWebServicePortBinding">
<soap:address location="http://localhost:8080/JK-web-service/JKWebService"/>
</port>
</service>
</definitions>